header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}

li:hover{
    cursor: pointer;
}

#content {
    display: block;
    text-align: center;
    width: 75%;
    min-height: 600px;
    margin: auto;
}

img {
    display: block;
    position: relative;
    margin: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}

.grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

#menusushi {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
